<div class="comment">
	<div class="user"><%= link_to comment.user.full_name, comment.user %></div>
	<div class="timestamp">
		<%= time_ago_in_words(comment.created_at) %>
		<% if current_user == comment.user %>
			<%= link_to "Delete", comment, method: :delete,
																		 date: { confirm: "Are you sure?" } %>
		<% end %>
	</div>
	<div class="content"><%= comment.content %></div>
</div>