<% if current_user.pending_friends.include?(object) %>
	<p>Friend request pending.</p>
<% elsif !current_user.friends.include?(object) %>
	<%= link_to "Add Friend", friendships_path(friend_id: object), method: :post %>
<% else %>
	<%= "\u2713 Friends" %>
	<%= link_to "Unfriend", friendship_path(current_user.friendship_with(object)), method: :delete %>
<% end %>

