/* Universal */
body {
  background-color: #EAEAEA;
}

a:visited {
  color: #365899;
}
a:link {
  text-decoration: none;
  color: #365899;
}
a:hover {
  text-decoration: underline;
}

/* Flash */
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 /* Error messages*/
#error_explanation {
  color: #b94a48;
  background-color: #f2dede;
  text-align: left;
  ul {
    margin: 0 0 30px 0;
  }
}


/* Users */
.user_header {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
 
  .name{
    display: inline-block;
    line-height: 80px;
    vertical-align: middle;
    font-size: 30px;

    a:link{
      color:black;
      text-decoration: none;
    }
    a:visited{
      color:black;
    }
  }

  .gravatar{
    height: 80px;
    display: inline-block;
    vertical-align: middle;
  }
}

.like {
  .name{
    display: inline-block;
    vertical-align: middle;
  }
  .gravatar{
    display: inline-block;
    vertical-align: middle;
  }
}

/* Posts */
.post {
  display: block;
  margin: 50px auto 50px auto;
  border: solid;
  width: 500px;
  padding: 20px;
  background-color: white;
  border-color: white;


  .header{
    height: 40px;
    .name{
      display: inline-block;
      vertical-align: 50%; 
    }
    .gravatar{
      display: inline-block;
      vertical-align: middle;
    }
    .timestamp{
      position: relative;
      font-size: 14px;
      margin-left: 45px;
      margin-top: -20px;
    }
  }

  .content{
    position: relative;
    font-size: 30px;
    margin: 15px 0 15px 0;
  }

  .comment .field{
    width: 100px;
  }
  
}



.likes {
  margin-top: 5px;
  font-size: 15px;
}

.comments {
  font-size: 15px;
}