/* Flash */
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 /* Error messages*/
#error_explanation {
  color: #b94a48;
  background-color: #f2dede;
  text-align: left;
  ul {
    margin: 0 0 30px 0;
  }
}
/* Posts */
.post {
  display: block;
  a:visited {
    color: blue;
  }
  a:link {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

.timestamp {
  font-size: 15px;
  margin-bottom: 5px;
}

.content {
  font-size: 30px;
}

.likes {
  margin-top: 5px;
  font-size: 15px;
}

.comments {
  font-size: 15px;
}